* {
  font-family: 'Montserrat', sans-serif;
}

h1, h2 {
  text-align: center;
}

svg {
    font-size: 12px;
}

#main {
  width: 750px;
  height: 650px;
  float: left;
}

#chart {
  width: 750px;
  height: 450px;
}

#bar {
  width: 600px;
  height: 450px;
  float: right;
}

.details {
  width: 250px;
  height: 200px;
  float: left;
  border-radius: 15px;
  border: 2px solid black;
  background-color: rgba(127, 127, 127, 0.25);
}

.contDetails {
  width: 150px;
  float: right;
  margin-right: 150px;
  border-radius: 15px;
  border: 2px solid black;
  background-color: rgba(127, 127, 127, 0.25);
}

.details > p, .contDetails > p {
  margin: 4px;
  font-size: 12px;
}

.title {
  font-weight: bold;
  font-size: 14px !important;
  text-align: center;
}

.subheader {
  font-style: italic;
  text-align: center;
  font-size: 10px !important;
}

.hidden {
  display: none;
}

circle {
  fill: rgba(0, 140, 255, 0.5);
}

circle:hover {
    stroke: black;
}

.profit {
  fill: green;
}

.loss {
  fill: red;
}

.brushed {
  stroke: yellow;
}

.bar {
  fill: rgba(255, 166, 0, 0.5);
  stroke: black;
}

.continent:hover {
  stroke: red;
  stroke-width: 3px;
}

.clicked {
  stroke: red;
  stroke-width: 3px;
}

#dropdown {
    margin-left: 50px;
}