* {
  font-family: 'Montserrat', sans-serif;
}

h1 {
  text-align: center;
}

svg {
    font-size: 12px;
}

button {
    margin-bottom: 0px;
    margin-top: 0px;
}

#main {
  width: 100%;
  height: 700px;
}

/* begin chart rules */
#chart {
  float: left;
  width: 750px;
  height: 450px;
}

.chart-title {
    font-weight: bold;
    font-size: 24px;
}

.hidden {
  display: none;
}

.brushed {
  fill: rgba(255, 166, 0, 0.5) !important;
}

.selected {
  fill: purple !important;
}

circle {
  fill: rgba(0, 206, 209, 0.3);
  stroke-width: 0.5;
  stroke: black;
}

circle:hover {
    fill: purple !important;
}

.faded {
    font-weight: bold;
    font-size: 14px !important;
    fill-opacity: 0.2;
}
/* end chart rules */

#pane {
  float: left;
  height: 250px;
}

#buttons-pane {
  display: flex;
  justify-content: space-between;
  margin-top: 5px;
  width: 750px;
  height: 25px;
}

#details-pane {
  margin-top: 5px;
  width: 750px;
}

.details {
  width: 240px;
  height: 215px;
  margin-left: 3px;
  margin-right: 3px;
  float: left;
  display: inline-block;
  border-radius: 15px;
  border: 2px solid black;
  background-color: rgba(127, 127, 127, 0.3);
  -webkit-transition: all 250ms ease-in-out;
  -moz-transition: all 250ms ease-in-out;
  -ms-transition: all 250ms ease-in-out;
  -o-transition: all 250ms ease-in-out;
  transition: all 250ms ease-in-out;
}

.title {
  font-weight: bold;
  font-size: 14px !important;
  text-align: center;
}

.subheader {
  font-style: italic;
  text-align: center;
  font-size: 10px !important;
}

/* begin bar chart related rules */
#dropdown {
    margin-left: 50px;
}

#bar {
  width: 600px;
  height: 450px;
  float: right;
}

.bar {
  fill: rgba(255, 166, 0, 0.5);
  stroke: black;
}

.clicked {
  stroke: purple;
  stroke-width: 3px;
}

.contDetails, .genreDetails, .ratingDetails {
  width: 155px;
  float: right;
  margin-right: 190px;
  margin-top: 10px;
  border-radius: 15px;
  border: 2px solid black;
  background-color: rgba(127, 127, 127, 0.3);
  -webkit-transition: all 250ms ease-in-out;
  -moz-transition: all 250ms ease-in-out;
  -ms-transition: all 250ms ease-in-out;
  -o-transition: all 250ms ease-in-out;
  transition: all 250ms ease-in-out;
}

.details:hover, .contDetails:hover, .genreDetails:hover, .ratingDetails:hover {
  -webkit-transition: all 250ms ease-in-out;
  -moz-transition: all 250ms ease-in-out;
  -ms-transition: all 250ms ease-in-out;
  -o-transition: all 250ms ease-in-out;
  transition: all 250ms ease-in-out;
  border-color: red;
  opacity: 50%;
  background-color: rgba(127, 127, 127, 0.15);
}

.details > p, .contDetails > p, .genreDetails > p, .ratingDetails > p {
  margin: 4px;
  font-size: 12px;
}

.continent:hover, .genre:hover, .rating:hover {
  stroke: purple;
  stroke-width: 3px;
}