* {
  font-family: 'Montserrat', sans-serif;
}

h1, h2 {
  text-align: center;
}

/*div {
  border: 1px solid black;
}*/

svg {
    font-size: 12px;
}

button {
    margin-left: 45px;
    margin-right: 40px;
    margin-top: 10px;
}

#main {
  width: 100%;
  height: 700px;
  float: left;
}

#chart {
  float: left;
  width: 750px;
  height: 700px;
}

#bar {
  width: 600px;
  height: 450px;
  float: right;
}

#details-pane {
  width: 675px;
  height: 200px;
  margin-top: 25px;
  float: right;
}

.details {
  width: 225px;
  height: 200px;
  float: left;
  display: inline-block;
  border-radius: 15px;
  border: 2px solid black;
  background-color: rgba(127, 127, 127, 0.25);
}

.contDetails, .genreDetails, .ratingDetails {
  width: 155px;
  float: right;
  margin-right: 190px;
  margin-top: 10px;
  border-radius: 15px;
  border: 2px solid black;
  background-color: rgba(127, 127, 127, 0.25);
}

.details > p, .contDetails > p, .genreDetails > p, .ratingDetails > p {
  margin: 4px;
  font-size: 12px;
}

.chart-title {
    font-weight: bold;
    font-size: 24px;
}

.title {
  font-weight: bold;
  font-size: 14px !important;
  text-align: center;
}

.faded {
    font-weight: bold;
    font-size: 14px !important;
    fill-opacity: 0.2;
}

.subheader {
  font-style: italic;
  text-align: center;
  font-size: 10px !important;
}

.hidden {
  display: none;
}

.selected {
  stroke-width: 2px;
  stroke: red;
}

circle {
  fill: rgba(0, 206, 209, 0.3);
  stroke-width: 0.5;
  stroke: black;
}

circle:hover {
    fill: black !important;
}

.brushed {
  fill: rgba(255, 166, 0, 0.5) !important;
}

.bar {
  fill: rgba(255, 166, 0, 0.5);
  stroke: black;
}

.continent:hover, .genre:hover, .rating:hover {
  stroke: red;
  stroke-width: 3px;
}

.clicked {
  stroke: red;
  stroke-width: 3px;
}

#dropdown {
    margin-left: 50px;
}